# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# Dati e output pesanti
outputs/reports/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!outputs/reports/.gitkeep

# IDE
.vscode/
.idea/

*.egg-info/
CLAUDE.local.md

